target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextReleaseBackup
pom.xml.patchReleaseBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


.vscode/
*.code-workspace
.history/


.idea/
*.iws
*.iml
*.ipr
out/

.settings/
.project
.classpath
.factorypath


bin/
*.log
.DS_Store
Thumbs.db

*.db
sql_app.db

application.properties
.env